{% load static %}
<!DOCTYPE HTML>
<html>

<head>
  <title>Room booking system</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" title="style" />
    <link rel="icon" href="{% static 'fav.ico' %}">
</head>

<body>
    {% block login %}
    {% if user.is_authenticated %}
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/">Modern<b>HOTEL</b></a></h1>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="/">Home</a></li>
          <li><a href="/new_reservation">New reservation</a></li>
          <li><a href="/reservations">Reservations</a></li>
          <li><a href="/rooms">Rooms</a></li>
{#            {% if user.is_superuser %}#}
{#          <li><a href="/admin">Admin</a></li>#}
{#                {% endif %}#}
            <li><a href="/logout_user">Log out</a></li>


        </ul>
      </div>
    </div>
    <div id="site_content">

      <div id="content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Quick menu</h3>
        <h4><a href="check_in">Check in reservation</a></h4>
        <p>Use that button to confirm guest arrival<br/></p>
        <br>
        <h4><a href="check_in">Show future arrivals</a></h4>
        <p>Show future arrivals<br/></p>
        <br>
        <h4><a href="check_in">Show past reservations</a></h4>
        <p>Show list of past reservations<br/></p>
        <br>
        <h4><a href="check_in">Cancel reservation</a></h4>
        <p>Cancel reservation<br/></p>
        <br>
        <h4><a href="check_in">Check in reservation</a></h4>
        <p>Use that button to confirm guest arrival<br/></p>
      </div>
      <br>
        {% block content %}
            {% endblock %}

  </div>
  </div>
    <div id="footer">
        <a>Copyright Michal Pycia, ModernHotel 2020</a>
    </div>
    {% else %}
        <h1>Forbidden, <a href="/login"> login</a> first</h1>
    {% endif %}
    {% endblock %}
</body>
</html>
